.landscape-grid td {
    border: dotted #999 1px;
    width: 40px;
    height: 20px;
}

.landscape-grid td:hover {
    border: dashed #338 1px;
    background-color: #ffdd96;
}

.landscape-grid th input {
    width: 40px;
    border: 0;
    color: #777;
    font-size: 14px;
    text-align: center;
}

.ground {
    background-color: #c0a16b;
}

.water {
    background-color: #31b0d5;
}