<html ng-app="delugeApp">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/app/app.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Deluge Demo</a>
        </div>
    </div>
</nav>
<div class="container" ng-controller="LandscapeController">
    <form class="form-inline" ng-submit="getGrid()">
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label for="size">Landscape size</label>
                    <input type="number" name="size" class="form-control" id="size" required
                           autocomplete="off" min="{{minSize}}" max="{{maxSize}}" ng-model="landscapeSize">
                </div>
                <input type="submit" class="btn btn-primary" value="Set">

                <p class="text-muted">Specify landscape size ({{minSize}} - {{maxSize}})</p>
            </div>
        </div>
        <div class="row" ng-if="showSizeError">
            <div class="col-md-10">
                <p class="text-danger">Size must be in range {{minSize}} - {{maxSize}}</p>
            </div>
        </div>
    </form>
    <form ng-submit="getFilling()" ng-hide="!landscape">
        <div class="row">
            <table class="landscape-grid">
                <tr ng-repeat="r in grid">
                    <td ng-repeat="c in r" ng-class="getCellClass()"
                        ng-click="setHeight($index, maxHeight - $parent.$index)">
                        <div class="ground" ng-if="checkIsGround(c, $parent.$index)">&nbsp;</div>
                        <div class="water" ng-if="checkIsWater(c, $parent.$index)">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <th ng-repeat="p in landscape">
                        <input type="number" name="height" value="{{p.height}}" min="0" max="{{maxHeight}}"
                               ng-model="p.height" ng-change="eraseWater()">
                    </th>
                </tr>
            </table>
        </div>
        <div class="row">
            <p class="text-muted">
                Click on cells to set height or enter values in fields under grid or
                <a href="#" class="btn-sm btn-info" ng-click="generateRandom()">generate random landscape</a>
            </p>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input type="submit" class="btn-lg btn-block btn-primary" value="Fill"/>
                <p class="text-info">Filled volume: <strong>{{filledVolume}}</strong></p>
            </div>
        </div>
    </form>
</div>
</body>
</html>
